body {
  background: white;
  color: blue;
}

#main-container {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: white 1px solid;
}

div {
  border: 1px white solid;
}

.flagged {
  background-image: url("../assests/placeholder-flag.png");
  background-repeat: none;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
}