body {
}

header {
  padding: 2%;
  text-align: center;
  background: #83c441;
  color: white;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo-top img {
  width: 20%;
  height: 20%;
}

.tress-and-dogs {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5em;
  font-family: "Baloo", cursive;
}

p {
  font-size: 0.5em;
}

input#name {
  font-size: 1.5em;
  padding: 3%;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  bordercolor: rgb(142, 141, 141);
}

div#instructions {
}

#instructions {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 5%;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: rgb(80, 80, 80);
}

div#user-input {
  display: flex;
  justify-content: center;
}

#user-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
}
div#play-game {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
}

.start-btn {
  font-family: "Lilita One", cursive;
  display: block;
  height: 64px;
  width: 248px;
  border: 2px solid white;
  background: #83c441;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  text-align: center;
}

.start-btn:hover {
  border: 2px solid #83c441;
  background: white;
  color: #83c441;
}
