body {
  width: 80%;

  width: 960;
}

div {
  border: 1px solid black;
}

header {
  padding: 30px;
  text-align: center;
  background: green;
  color: white;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#instructions {
}

#user-input {
}
#play-game {
}
