
p {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.5em;

}

.main-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;

}

div.box {
  
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
}

h2 {

  font-family: 'Baloo', cursive;
  margin: 5px;

}

img {
  display: flex;
  justify-content: center;
}

.back-to-home {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  height: 54px;
  width: 238px;
  border: 2px solid white;
  background: #83c441;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  text-align: center;
}

#nav-buttons {
  display: flex;
  justify-content: center;
}
