body {
  width: 80%;
}

header {
  padding: 2%;
  text-align: center;
  background: #83c441;
  color: white;
  font-size: 30px;
  font-family: "Baloo", cursive;
}
header-img {
  margin: -21px;
}

div.h1 {
  display: flex;
  justify-content: center;
}

p {
  color: pink;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}

main.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.section.grid-images {
  display: grid;
}

.box {
  padding: 20px;
  border-radius: 10px;

  font-size: 40px;
}

.tress-and-dogs {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5em;
  font-family: "Lilita One", cursive;
}

p {
  font-size: 0.5em;
}

.back-to-home {
  font-family: "Lilita One", cursive;
  display: block;
  height: 54px;
  width: 238px;
  border: 2px solid white;
  background: #83c441;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  text-align: center;
}

.start-btn:hover {
  border: 2px solid #83c441;
  background: white;
  color: #83c441;
}
