body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header img {
  width: 100%;
  text-align: center;
  background: #83c441;
  color: white;
  font-family: 'Baloo', cursive;
}

.header-image {
  display: flex;
  justify-content: center;
}

footer {

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
  background: #83c441;
  color: white;

}

a {
  color: white;
  font-weight: bolder;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: center;

  border: 2px solid white;
  background: #83c441;
  border-radius: 4px;
  letter-spacing: 2px;
  color: white;
  font-size: 1em;
  text-align: center;
}
  
button:hover {
  border: 2px solid #83c441;
  background: white;
  color: #83c441;
}