html {
  display: flex;
  justify-content: center;
}

body {
  width: 85%;
  border: 4px rgb(135, 193, 48) solid;
  border-radius: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  margin-bottom: 50px;
  padding: 25px;
  text-align: center;
  background: #83c441;
  color: white;
  font-size: 30px;
  font-family: 'Baloo', cursive;
}

.header-image {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
  background: #83c441;
  color: white;
  padding: 15px;
}
a {
  color: white;
  font-weight: bolder;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: center;
  height: 64px;
  width: 248px;
  border: 2px solid white;
  background: #83c441;
  border-radius: 4px;
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  text-align: center;
}
  
button:hover {
  border: 2px solid #83c441;
  background: white;
  color: #83c441;
  }